.logo-carrito {
    font-size: 2.5rem;
    color: orange;
}

.carrito {
    position: relative;
    color: white;
}

.link-style {
    text-decoration: none;
}

@media (max-width: 768px) {
    .carrito {
        justify-content: center;
    }
}