.card-header {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.card-container {
    width: 250px;
    overflow: hidden;
}

.card-img-container {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fce7c0;
}

.card-img {
    max-width: 220px;
}

.card-body {
    background-color: #fce7c0;
}

.card-button {
    background-color: orange;
    width: 100%;
    border-radius: 0;
}

.card-button:hover {
    background-color: #ff7d04;
}