.card-container {
    width: 250px;
    /* background-color: #eee; */
}

.card-img-container {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    max-width: 220px;
}

.card-button {
    border: none;
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
}